# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
*.pkl
*.spec
dist
*.dat
build
venv

# pycharm
.idea

#others
PicoScope6_r6_13_6.exe
*.xlsx
*.7z
*.log
/fakeData
/mat
/postgraduate_program/*
!/postgraduate_program/operationAndDisplaySystem/
!/postgraduate_program/usrpCommunicationMiddlePlatform/
!/postgraduate_program/README*
!/postgraduate_program/data/EMCfile/data/sample_data
**/datapath_properties.xml
**/properties_local.xml
**/properties_remote.xml