# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
*.pkl
*.spec
dist
*.dat
build

# pycharm
.idea

#others
PicoScope6_r6_13_6.exe
*.xlsx
*.7z
usrp_recvfiles
IQ_outputfiles
steadyStateInterference_recvfiles
steadyStateInterference_outputfiles
specEnvelope_recvfiles
realtime_recvfiles
realpart_recvfiles
interference_files
antenna_recvfiles
specmonitor_recvfiles
mat
fakeData
waterfall
emc